<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <h1>{{ msg }} </h1>
  </div>
</template>

<script>
  import axios from "axios";

  export default {
    name: "app",
    data() {
      return {
        msg: null
      };
    },
    created() {
      axios.get("/api").then(response => {
        this.msg = response.data.message;
      });
    }
  };
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
